<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>ratakm.vurpo.fi</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fork-awesome@1.1.7/css/fork-awesome.min.css" integrity="sha256-gsmEoJAws/Kd3CjuOQzLie5Q3yshhvmo7YNtBG7aaEY=" crossorigin="anonymous">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <style type="text/css">
@font-face {
    font-family: 'DIN Regular';
    font-style: normal;
    font-weight: normal;
    src: local('DIN Regular'), url('/static/DINR____.woff') format('woff');
}

body {
    font-family: 'DIN Regular', sans-serif;
}

.erkanee {
    display: inline-block;
    height: 1em;
    vertical-align: text-top;
}
:target {
   background-color: rgb(234, 255, 206);
}
table.sortable th:not(.sorttable_sorted):not(.sorttable_sorted_reverse):not(.sorttable_nosort):after { 
    content: " \2B81" 
}
th.sorttable_sorted::after {
    content: " \1f827";
}
th.sorttable_sorted_reverse::after {
  content: " \1f825";
}
        </style>
        <script src="/static/sorttable.js"></script>
    </head>
    <body>
        <nav class="navbar navbar-dark bg-success">
            <div class="container">
                <a class="navbar-brand" href="/">ratakm.vurpo.fi</a>
            </div>
        </nav>
        <div class="container my-5">
            {% block content %}{% endblock %}
        </div>

        <div class="container py-4">
            Kaikkien tietojen lähde on <a href="https://rata.digitraffic.fi/infra-api">Fintrafficin julkaisema avoin data</a>. Lisenssi: <a href="https://creativecommons.org/licenses/by/4.0/">CC BY 4.0</a><br />
            <a href="https://gitlab.com/vurpo/ratakm">Sivuston lähdekoodi</a>
        </div>

        <script src="/static/jquery-3.4.1.slim.min.js" ></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        </script>
    </body>
</html>
