{% extends "layout.html" %}
{% block content %}
  <h1 class="mb-3">Kaikki {{otsikko}}</h1>
  <table class="sortable table table-hover table-responsive-lg">
    <thead class="thead-light">
      <tr>
        <th scope="col">Lyh.</th>
        <th scope="col">Liikennepaikka</th>
        <th scope="col">Rataosa</th>
        <th class="sorttable_numeric" scope="col">Virallinen sijainti</th>
      </tr>
    </thead>
    <tbody>
      {% for rlp in rliikennepaikat %}
      <tr class="table-row" data-href="/liikennepaikka/{{rlp['lyhenne']}}" id="{{rlp['lyhenne']}}">
        <td><a class="text-dark" href="/liikennepaikka/{{rlp['lyhenne']}}">{{rlp['lyhenne']}}</a></td>
        <td><a class="text-dark" href="/liikennepaikka/{{rlp['lyhenne']}}">{{rlp['nimi']}}</a></td>
        {% if rlp['virallinenRata'] != None %}
        {% set ratanumero = rlp['virallinenRata'] %}
        <td><a class="text-dark" href="/rata/{{ratanumero}}#{{rlp['lyhenne']}}">{{ratanumero}} {{radat[ratanumero]['rliikennepaikat'] | rliikennepaikat}}</a></td>
        <td sorttable_customkey="{{rlp['sijainnit'][ratanumero]|sijainti_sorting_key}}"><a class="text-dark" href="/rata/{{ratanumero}}#{{rlp['lyhenne']}}">{{rlp['sijainnit'][ratanumero]['ratakm']}}+{{rlp['sijainnit'][ratanumero]['etaisyys']}}</a></td>
        {% elif len(rlp['sijainnit']) > 0 %}
        {% set ratanumero = list(rlp['sijainnit'])[0] %}
        <td><a class="text-dark" href="/rata/{{ratanumero}}#{{rlp['lyhenne']}}">{{ratanumero}} {{radat[ratanumero]['rliikennepaikat'] | rliikennepaikat}}</a></td>
        <td sorttable_customkey="{{rlp['sijainnit'][ratanumero]|sijainti_sorting_key}}"><a class="text-dark" href="/rata/{{ratanumero}}#{{rlp['lyhenne']}}">{{rlp['sijainnit'][ratanumero]['ratakm']}}+{{rlp['sijainnit'][ratanumero]['etaisyys']}}</a></td>
        {% else %}
        <td></td>
        <td sorttable_customkey="0"></td>
        {% endif %}
      </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}