{% extends "layout.html" %}
{% block content %}
  <h1 class="mb-1">{{liikennepaikka['nimi']}} ({{lyhenne}})</h1>
  <p class="mb-3"><a class="text-dark" href="/liikennepaikat/{{liikennepaikka['tyyppi']}}">{{liikennepaikka['tyyppi']}}</a></p>
  <a class="btn btn-primary" role="button" href="https://juliadata.fi/timetables?s={{lyhenne}}&d={{today()}}">Aikataulut</a>
  {% if liikennepaikka['virallinenSijainti'] != None %}
  <a target="_blank" rel="noopener noreferrer" class="btn btn-success" href="https://www.openstreetmap.org/?mlat={{liikennepaikka['virallinenSijainti'][1]}}&mlon={{liikennepaikka['virallinenSijainti'][0]}}#map=16/{{liikennepaikka['virallinenSijainti'][1]}}/{{liikennepaikka['virallinenSijainti'][0]}}">OpenStreetMap</a>
  <a target="_blank" rel="noopener noreferrer" class="btn btn-success" href="{{karttapaikka_linkki(liikennepaikka['virallinenSijainti'], liikennepaikka['nimi'])}}">Karttapaikka</a>
  <a target="_blank" rel="noopener noreferrer" class="btn btn-success" href="http://maps.google.com/maps?q={{liikennepaikka['virallinenSijainti'][1]}},{{liikennepaikka['virallinenSijainti'][0]}}">Google Maps</a>
  {% endif %}
  <div class="mt-3">
    <h4>Liikennepaikan sijainnit radoilla:</h4>
    <table class="table table-hover table-responsive-lg">
      <thead class="thead-light">
        <tr>
          <th scope="col">Rata</th>
          <th scope="col">Sijainti</th>
        </tr>
      </thead>
      <tbody>
        {% for ratanumero, sijainti in liikennepaikka['sijainnit'].items() %}
        <tr class="table-row" data-href="/rata/{{ratanumero}}#{{lyhenne}}" id="{{ratanumero}}">
          <td><a class="text-dark" href="/rata/{{ratanumero}}#{{lyhenne}}">{{ratanumero}} {{radat[ratanumero]['rliikennepaikat'] | rliikennepaikat}}</a></td>
          <td><a class="text-dark" href="/rata/{{ratanumero}}#{{lyhenne}}">{{sijainti['ratakm']}}+{{sijainti['etaisyys']}}</a></td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}