{% extends "layout.html" %}
{% block content %}
  <h1 class="mb-3">{{sijainti}}</h1>
  <div class="mt-3">
    <h4>Sijainti {{sijainti}} on olemassa seuraavilla rataosuuksilla:</h4>
    <table class="table table-hover table-responsive-lg">
      <thead class="thead-light">
        <tr>
          <th scope="col">Rataosuus</th>
          <th scope="col">Karttalinkit</th>
        </tr>
      </thead>
      <tbody>
        {% for ratanumero, data in kilometri.items() %}
        <tr class="table-row" data-href="/rata/{{ratanumero}}" id="{{ratanumero}}">
          <td><a class="text-dark" href="/rata/{{ratanumero}}">{{ratanumero}} {{radat[ratanumero]['rliikennepaikat'] | rliikennepaikat}}</a></td>
          <td>
            {% if len(data[0]['geometria']) > 0 %}
            <a target="_blank" rel="noopener noreferrer" class="btn btn-success btn-sm" href="https://www.openstreetmap.org/?mlat={{data[0]['geometria'][0][1]}}&mlon={{data[0]['geometria'][0][0]}}#map=16/{{data[0]['geometria'][0][1]}}/{{data[0]['geometria'][0][0]}}">OpenStreetMap</a>
            <a target="_blank" rel="noopener noreferrer" class="btn btn-success btn-sm" href="{{karttapaikka_linkki(data[0]['geometria'][0], sijainti)}}">Karttapaikka</a>
            <a target="_blank" rel="noopener noreferrer" class="btn btn-success btn-sm" href="http://maps.google.com/maps?q={{data[0]['geometria'][0][1]}},{{data[0]['geometria'][0][0]}}">Google Maps</a>
            {% endif %}
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}