{% extends "layout.html" %}
{% block content %}
  <h1 class="mb-3">{{ratanumero}} {{rata['rliikennepaikat'] | rliikennepaikat}}</h1>
  <img class="erkanee" src="/static/corner-up-right.svg" /> = liikennepaikalla on myös muita rataosia
  <table class="sortable table table-hover table-responsive-lg">
    <thead class="thead-light">
      <tr>
        <th scope="col">Lyh.</th>
        <th scope="col">Liikennepaikka</th>
        <th class="sorttable_numeric" scope="col">Sijainti (tällä radalla)</th>
        <th scope="col">Tyyppi</th>
      </tr>
    </thead>
    <tbody>
      {% for rlp in rata['rliikennepaikat'] %}
      <tr class="table-row" data-href="/liikennepaikka/{{rlp['lyhenne']}}#{{ratanumero}}" id="{{rlp['lyhenne']}}">
        <td><a class="text-dark" href="/liikennepaikka/{{rlp['lyhenne']}}#{{ratanumero}}">{{rlp['lyhenne']}}</a></td>
        <td><a class="text-dark" href="/liikennepaikka/{{rlp['lyhenne']}}#{{ratanumero}}">{{rlp['nimi']}}</a></td>
        <td sorttable_customkey="{{rlp['sijainnit'][ratanumero]|sijainti_sorting_key}}"><a class="text-dark" href="/kilometri/{{rlp['sijainnit'][ratanumero]['ratakm']}}+{{rlp['sijainnit'][ratanumero]['etaisyys']}}#{{ratanumero}}">{{rlp['sijainnit'][ratanumero]['ratakm']}}+{{rlp['sijainnit'][ratanumero]['etaisyys']}}</a> {% if len(rlp['sijainnit']) > 1 %}<img class="erkanee" src="/static/corner-up-right.svg" />{% endif %}</td>
        <td><a class="text-dark" href="/liikennepaikat/{{rlp['tyyppi']}}">{{rlp['tyyppi']}}</a></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}