{% extends "layout.html" %}
{% block content %}
  <h1 class="mb-3">{{sijainti}}</h1>
  <div class="mt-3">
    <h4>Ratakilometri {{sijainti}} on olemassa seuraavilla rataosuuksilla:</h4>
    <table class="table table-hover table-responsive-lg">
      <thead class="thead-light">
        <tr>
          <th scope="col">Rataosuus</th>
          <th scope="col">Pituus</th>
          <th scope="col">Karttalinkit</th>
        </tr>
      </thead>
      <tbody>
        {% for ratanumero, kilometri in kilometri.items() %}
        <tr class="table-row" data-href="/rata/{{ratanumero}}">
          <td><a class="text-dark" href="/rata/{{ratanumero}}">{{ratanumero}} {{radat[ratanumero]['rliikennepaikat'] | rliikennepaikat}}</a></td>
          <td>{% if kilometri[0]['pituus'] != None %}{{kilometri[0]['pituus']}}{% else %}-{% endif %}</td>
          <td>
            {% if kilometri[0]['paalu'] != None %}
            <a target="_blank" rel="noopener noreferrer" class="btn btn-success btn-sm" href="https://www.openstreetmap.org/?mlat={{kilometri[0]['paalu'][1]}}&mlon={{kilometri[0]['paalu'][0]}}#map=16/{{kilometri[0]['paalu'][1]}}/{{kilometri[0]['paalu'][0]}}">OpenStreetMap</a>
            <a target="_blank" rel="noopener noreferrer" class="btn btn-success btn-sm" href="{{karttapaikka_linkki(kilometri[0]['paalu'], sijainti)}}">Karttapaikka</a>
            <a target="_blank" rel="noopener noreferrer" class="btn btn-success btn-sm" href="http://maps.google.com/maps?q={{kilometri[0]['paalu'][1]}},{{kilometri[0]['paalu'][0]}}">Google Maps</a>
            {% endif %}
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}