{% extends "layout.html" %}
{% block content %}
  <h3 class="mb-3">Ratakilometrihaku</h3>
  <form class="form-inline" action="/ratakmhaku" method="get">
    <div class="input-group">
      <input type="text" class="form-control" id="haku" name="haku" placeholder="Esim. 200 tai 199+674" />
      <span class="input-group-btn">
        <button type="submit" class="btn btn-primary">Hae</button>
      </span>
    </div>
  </form>
  <h3 class="mb-3 mt-3">Rautatieliikennepaikka</h3>
  <form class="form-inline" action="/rlphaku" method="get">
    <div class="input-group">
      <input type="text" class="form-control" id="haku" name="haku" placeholder="Esim. Tku" />
      <span class="input-group-btn">
        <button type="submit" class="btn btn-primary">Hae</button>
      </span>
    </div>
  </form>
  <h3 class="mt-3">Kaikki rataosat</h3>
  <small class="pb-3">(mukaan lukien raiteet jotka ovat infra-apissa listattuna omina rataosina)</small>
  <table class="table table-hover table-responsive-lg">
    <thead class="thead-light">
      <tr>
        <th scope="col">Ratanro</th>
        <th scope="col">Liikennepaikat</th>
        <th scope="col">Ratakilometrit</th>
      </tr>
    </thead>
    <tbody>
      {% for ratanumero, rata in radat %}
      <tr class="table-row" data-href="/rata/{{ratanumero}}">
        <td><a class="text-dark" href="/rata/{{ratanumero}}">{{ratanumero}}</a></td>
        <td><a class="text-dark" href="/rata/{{ratanumero}}">{{rata['rliikennepaikat'] | rliikennepaikat}}</a></td>
        <td>{{rata['rata']['ratakilometrit'] | ratakm}}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}